:root {
    --bg-color1: #F2E8D5;        /* 宣紙 */
    --bg-body: #D8C3A5;          /* 淡褐古紙 */
    --bg-logo: #6B4F3A;          /* 烏木棕 */
    --bg-nav: #263C36;           /* 黛青 */
    --bg-a: #A94442;             /* 朱砂紅 */
    --bg-footer: #182522;        /* 墨色 */

    --btn001: #9E3F35;           /* 朱砂 */
    --btn002: #B8955A;           /* 古金 */
    
    --btn001-hover: #762D27;     /* 深朱砂 */
}
